<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar" style="background-color: black;">
        
        <br><h4>Admin Dashboard</h4>
        <br>
        <a routerLink="admin_dashboard"><i class="fas fa-home"></i> &nbsp; Dashboard</a>
        <a routerLink="department"><i class="fa-solid fa-user-doctor"></i> &nbsp; Department </a>
        <a routerLink="user_list"><i class="fa-solid fa-user-doctor"></i> &nbsp; User List </a>
        <a routerLink="doctor_reg"><i class="fa-solid fa-user-doctor"></i> &nbsp; Doctors </a>
        <a routerLink="prescription"> <i class="fa-solid fa-hospital-user"></i> &nbsp; Patient</a>
        <a routerLink="reports"><i class="fa-solid fa-list"></i> &nbsp; Reports</a>
        <!-- <a routerLink="doctor_reg"><i class="fa-solid fa-clipboard"></i> &nbsp;  Set Role</a> -->
        <a routerLink="note"><i class="fas fa-cog"></i> &nbsp; Settings</a>
        <a (click)="logout()" routerLink="../login"><i class="fas fa-sign-out-alt"></i> &nbsp; Logout</a>
        <!-- <a routerLink="lab_entry"><i class="fas fa-hospital-user"></i> &nbsp; Lab Entry</a> -->
                
    </div>

    <!-- Main Content -->
    <div class="main-content w-100">
        <!-- Header -->
        <div class="header">
            <h1>Welcome, {{userName}}</h1>
            <div class="d-flex align-items-center">
                <span class="me-3">{{date}} | {{time}}</span>
            </div>
        </div>

        <!-- Placeholder for Router Content -->
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>